body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    min-height: 100vh;
  }

  .auth-container{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 50px auto;
    border-radius: 8px;
  }

  .auth-heading{
    font-size: 22px;
    margin: 10px;
    color: #4CAF50;
  }

  .auth-form-container{
    padding: 10px;
  }

  .auth-input{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    border: 2px solid #4CAF50;
  }

  .auth-input:focus , .auth-input:active{
    outline: none

  }

  .auth-btn{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
  }

  .auth-links{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
  }

  .logout-button {
    background-color: #FF5733; /* Vibrant color */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #E94E23; /* Slightly darker on hover */
  }
  